<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>className</key>
	<string>CCBClippingNode</string>
	<key>editorClassName</key>
	<string>CCBClippingNode</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>displayName</key>
			<string>Selected</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>selected</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCClippingNode</string>
			<key>name</key>
			<string>CCClippingNode</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string>ccbResources/ccbDefaultImages.plist</string>
				<string>ccbButtonHilite.png</string>
			</array>
			<key>displayName</key>
			<string>Sprite frame</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>mask</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>-1</integer>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>alphaThreshold</string>
			<key>displayName</key>
			<string>alphaThreshold</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>233</integer>
			<key>type</key>
			<string>Integer</string>
			<key>name</key>
			<string>htag</string>
			<key>displayName</key>
			<string>Hock Tag</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>inverted</string>
			<key>displayName</key>
			<string>inverted</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>preview</string>
			<key>displayName</key>
			<string>preview</string>
		</dict>
	</array>
</dict>
</plist>
