<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCControl</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCBSwitch</string>
	<key>editorClassName</key>
	<string>CCBSwitch</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<integer>0</integer>
				<integer>32</integer>
			</array>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>BlockCCControl</string>
			<key>name</key>
			<string>ccControl</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>displayName</key>
			<string>Selected</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCBSwitch</string>
			<key>name</key>
			<string>CCBSwitch</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/switch-mask.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Mask</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>fmask</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/switch-on.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>ON</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>fon</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/switch-off.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>OFF</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>foff</string>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<string>ccbResources/switch-thumb.png</string>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Thumb</string>
			<key>type</key>
			<string>SpriteFrame</string>
			<key>name</key>
			<string>fthumb</string>
		</dict>
	</array>
</dict>
</plist>
