<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCBButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>CCBCheckBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>CCBFile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CCBLayoutBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>CCBSwitch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>CCClippingNode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>CCControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CCControlButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>CCControlSlider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>CCEditBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>CCLabelBMFont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CCLabelTTF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CCLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CCLayerColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CCLayerGradient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CCMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CCMenuItemImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CCNode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CCParticleSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CCScale9Sprite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>CCScrollView copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>CCScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>CCSprite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CCSpriteBatchNode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Cocos2D iPhone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CocosBuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>ccbpublish.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C1E27C2185C4BF4008D3A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C243DB51855F38E00954C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C243DDD185747F600954C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C243E1918574E9B00954C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C243E2D1857506400954C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C64A14118531FF5000F4EC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C64A15518532D81000F4EC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C7F9ED7187150DA005AD1AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB57897186E857D00E4BD71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CE78BDF1855DCC0000AF40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CEE96B11867DAC50082EDA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7789ABBD133AA82000CEFCC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E325F65914F65C8E00D29BCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35392761518D78D00471721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35DBB6714F21E7D0070A6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35DBB7F14F225D30070A6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35DBB9714F244BB0070A6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35DBBAC14F2781D0070A6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35DBBCB14F2AA350070A6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35DBBE814F3E2390070A6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35DBC0814F4D72B0070A6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E398C02114FB81A30078E771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3B7AEC414E3193500DFD402</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3B84C38151A2C02004B743C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3C365EA14E9E4D1007CD5FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3C65115151BB89500D639C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3D59120150F5367004180CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3FCE8651524856D0028E8E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA98CFC0154E7D1C006E58C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
