<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCControl</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCBButton</string>
	<key>editorClassName</key>
	<string>CCBButton</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<array>
				<string></string>
				<integer>0</integer>
				<integer>32</integer>
			</array>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>BlockCCControl</string>
			<key>name</key>
			<string>ccControl</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>displayName</key>
			<string>Selected</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCBButton</string>
			<key>name</key>
			<string>CCBButton</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<array>
				<integer>120</integer>
				<integer>40</integer>
				<integer>0</integer>
			</array>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>readOnly</key>
			<false/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>preferedSize</string>
			<key>displayName</key>
			<string>Preferred size</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>States</string>
			<key>type</key>
			<string>SeparatorSub</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>anchorPoint</string>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Animation</string>
			<key>type</key>
			<string>CCBFile</string>
			<key>name</key>
			<string>ani</string>
		</dict>
		<dict>
			<key>default</key>
			<string>normal</string>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Normal</string>
			<key>type</key>
			<string>String</string>
			<key>name</key>
			<string>s_normal</string>
		</dict>
		<dict>
			<key>default</key>
			<string>normal</string>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Normal Dark</string>
			<key>type</key>
			<string>String</string>
			<key>name</key>
			<string>s_normal_dark</string>
		</dict>
		<dict>
			<key>default</key>
			<string>down</string>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Mouse Down</string>
			<key>type</key>
			<string>String</string>
			<key>name</key>
			<string>s_down</string>
		</dict>
		<dict>
			<key>default</key>
			<string>disable</string>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>Disable</string>
			<key>type</key>
			<string>String</string>
			<key>name</key>
			<string>s_disable</string>
		</dict>
	</array>
</dict>
</plist>
